apiVersion: v1
kind: ConfigMap
metadata:
  name: task-db-sql
data:
  01_user_table.sql: |
    DROP DATABASE IF EXISTS taskdb;

    CREATE DATABASE IF NOT EXISTS taskdb;
    USE taskdb;

    CREATE TABLE IF NOT EXISTS tasks (
      id INT AUTO_INCREMENT PRIMARY KEY,
      userId INT NOT NULL,
      title VARCHAR(255) NOT NULL,
      category VARCHAR(50) DEFAULT NULL,
      task_date DATE DEFAULT (CURRENT_DATE),
      end_date DATE NULL,
      task_time TIME DEFAULT NULL,
      important TINYINT(1) NOT NULL DEFAULT 0,
      description VARCHAR(500) NULL,
      isDaily TINYINT(1) NOT NULL DEFAULT 1,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );

    CREATE TABLE IF NOT EXISTS task_logs (
      id INT AUTO_INCREMENT PRIMARY KEY,
      taskId INT NOT NULL,
      userId INT NOT NULL,
      method VARCHAR(30) DEFAULT 'manual',
      completed_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );
